/*:root {
    --primary-color:   #351E10;
  --secondary-color: #800000;
  --tertiary-color: #212121;
} */
:root {
    --primary-color:   #81604b; /*background color */
  --secondary-color: #551414; /*highlight color */
  --tertiary-color: #585757; /*backing color */
}
* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    background-color: var(--primary-color); /* color background throughout page*/
    font-family: Helvetica, Arial, sans-serif;
}


header nav {
    background-color: var(--tertiary-color);
    width: 100vw; /* I want the navbar to take up 100% of the viewport width*/
    height:fit-content;
}
header nav ul {
    list-style: none; /* removes dots from unordered list element */
    margin: 0; /*makes the bar flush to the top of the page */
    display: flex; /* makes the flex items automatically go into a row */
    justify-content: flex-end; /*pushes all the content to the right side of the screen */
    align-items: center; /*aligns items in the center of the screen */
    padding: 1em 0; /*puttings padding between the list items and bottom of the box */
}
header nav ul li a {
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* adds shadow effect on text */
    text-decoration: none; /*removes the default underline from links */
    color: var(--primary-color);
    padding-right: 3em;  /*puttings padding between the different items in the list */
    position: relative;
    transition: all ease-in-out 250ms;
}

li a::after { /*psuedo element that applies to links in navbar; creates bar underneath options */
    content: "";
    position: absolute;
    display: block;
    height: 0.4em; /*height of the bar */
    width: 0%; /*initial width of the bar */
    background-color: var(--secondary-color);
    bottom: -.85em; /*spacing between the list items and bar */
    transition: all ease-in-out 250ms; /*is an animation effect that slow the transition between this and the hover effect */
  }

  li:first-child { /*pins the first element in the list to the left of the page */
    font-size: 1.55vw;
    margin-right: auto; /*pushes it to the left of the page */
    margin-left: 3em; /*gives it space between left side of the page */
    font-weight: bolder;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* adds shadow effect on text */
}

  li a:hover::after { /* after the link is hovered upon, the width of the 'after' bar element is changed, making it appear to grow */
    width: 60%;
  }

  li a:hover {
    color: var(--secondary-color); /* changes the color of the link after it has been hovered over */
  }